# Secret keys
.env

# Uploaded test pictures
profilePictureDb/
*.webp

# Node
node_modules

# Compiled .ts files
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
